---
title: Marketing Portfolio
h1: Marketing portfolio
description: In nearly 15 years of content management experience, I've held a number of positions (social media specialist, analyst, marketing director and more). Here are a few samples of my work, from SEO and SEM to PR and branding.
---

<section class="container mb-4">
  <p>
    In nearly 15 years of content management experience, I've held a number of roles (social media specialist, analyst, marketing director and more). Here are a few samples of my work, from SEO and SEM to PR and branding.</p>
  <p>
    For more of my writing, check out <a href="/writing">my bylines</a> in top regional and international publications.
  </p>
</section>

{% for item in site.data.portfolio %}
  {% assign mod2 = forloop.index | modulo: 2 %}

  {% if mod2 == 1 %}
  <section class="container-fluid pl-lg-0 bg-light-gray">
  {% else %}
  <section class="container-fluid pr-lg-0">
  {% endif %}

    <div class="row row-eq-height no-gutters">

      {% if mod2 == 1 %}
      <div class="col-lg-4 px-0">
      {% else %}
      <div class="col-lg-4 px-0 order-lg-2">
      {% endif %}
        <img src="{{ item.image }}" class="w-100 h-100" style="object-fit: cover;">
      
      </div>
      {% if mod2 == 1 %}
      <div class="col-lg-7 p-4">
      {% else %}
      <div class="col-lg-7 offset-lg-1 order-lg-1 p-4">
      {% endif %}
      
        <h3 class="underline pr-3 pt-4">{{ item.heading }}</h3>
        <p>{{ item.text }}</p>
        <ul>
          <li><strong>Years of experience:</strong> {{ item.yoe }}</li>
          <li><strong>Media:</strong> {{ item.media }}</li>
          <li><strong>Services:</strong> {{ item.services }}</li>
        </ul>
        <p class="text-center text-lg-left"><a href="{{ item.btn-link }}" class="btn">{{ item.btn-text }}</a></p>
      </div>
    </div>
  </section>
{% endfor %}
